@charset "utf-8";
@use '../../foundation/mixin' as mix;

/* contact */
.c-contact {
  margin-top: 40px;
  padding: 60px 20px;
  background-color: var(--light-gray);
}

.c-contact__text {
  text-align: center;
  line-height: 1.8;
  font-size: 1rem;
}
